@use "./variables";

.instalaciones {
    margin-top: variables.$margen_encabezado;
    display: flex;
    background-color: variables.$fondo_elementos;
    align-items: center;

    img {
        padding: 3rem;
    }
}

.sobre_nos p {
    padding: 3rem;
    font-size: 2rem;
    line-height: 3.5rem;
    text-align: justify;
    color: variables.$color_fuente;
}

.personal {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    background-color: variables.$fondo_elementos;

    p {
        padding: 3rem;
    }
}

.personal img {
    max-height: 400px;
    padding: 3rem;
}

.carousel_sobrenos {
    display: flex;
    justify-content: center;

    padding: 20px 50px 30px 50px;
    margin-top: 4rem;
    background-color: variables.$fondo_elementos;
}